<nav class="nav"> 
        <div class="nav-menu flex-row"> 
            <div class="nav-brand"> 
                <a href="../index.html">Bloggerr</a> 
            </div> 
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="">Category</a>
                    </li>
                    <li class="nav-link">
                        <a href="../Login-Sign up page/Contact Us.html">Contact Us</a>
                    </li>
                    <li class="nav-link">
                        <a href="">Pages</a>
                    </li>
                    <li class="nav-link">
                        <a href="../Login-Sign up page/login.html">Log In</a>
                    </li>
                </ul>
            </div>
            <div class="social ">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i> </a>
            </div>
        </div> 
    </nav>
